body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.logo {
  color: #5D1469;
  font-size: 26px;
  font-family: "Barlow", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  border-radius: 3px;
  text-transform: none;
  margin-left: 10px;
  position: relative;
  top: 5px;
  font-weight: 400;
}

.MuiPaper-elevation2 {
  padding: 0 15px;
}

.MuiDialog-paperScrollPaper {
  width: 100%;
}

tbody .MuiTableCell-root {
  border-right: 1px solid
  rgba(224, 224, 224, 1);
}

.MuiTableCell-body {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover p{
  text-decoration: underline;
}

.portfolio-button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(5, 177, 105);
    margin: 0px;
    border-radius: 4px;
    transition: all 80ms ease-in-out 0s;
    padding: 12px;
    border: 1px solid rgb(5, 177, 105);
    position: relative;
    top: 5px;
}

.dialog-header {
  background: #1976d2;
  color: #fff;
}

.progressBar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progressBar {
  width: 64px !important;
}

.stats-container {
  text-align: center;
  margin: 50px 0;
}

.stats-container h1 {
  font-size: 4.5rem;
  font-weight: 400;
}

.stats-container p {
  color: rgb(136, 136, 136);
  font-size: 1rem;
  font-weight: 500;
}

.coin-color {
  height: 20px;
  display: inline-table;
  width: 50px; 
  margin-right: 15px;
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-initial {
  text-align: initial;
}

a, a:hover {
  text-decoration: none;
}
